<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>원스텝 - 게시글 수정</title>
  <link rel="stylesheet" href="../../root.css">
  <link rel="stylesheet" href="newPost.css">
  <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
</head>
<body id="editor-body" class="editor">
  <div class="header slide-left mb-0">
    <div class="navbar primary-nav">
      <div class="container justify-content-between">
        <div class="btn-group-left">
          <a class="btn btn-icon" id="btn-back" href="https://studio.postype.com/zzang9sisterzzanga/dashboard" title="뒤로" aria-label="뒤로">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="btn btn-icon" id="format-toggle" href="javascript:void(0);" aria-label="서식" title="서식">
            <span class="fa-layers">
              <i class="fas fa-font"></i>
              <i class="fas fa-bars"></i>
            </span>
          </a>
<!--          <div class="dropdown show" id="insert">-->
          <div class="dropdown" id="insert">
            <a class="btn btn-icon" id="insert-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-label="삽입" title="삽입" aria-expanded="false">
              <i class="fas fa-plus"></i>
            </a>
<!--            <div class="dropdown-menu insert-menu show">-->
            <div class="dropdown-menu insert-menu">
              <a id="btn-image-editor" class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#image-editor" aria-label="사진" title="이미지">
                <span class="icon-wrapper">
                  <i class="far fa-images"></i>
                </span>
                <div class="media-body">
                  <b>이미지</b>
                  <small>레이아웃을 적용한 개별/그룹 이미지</small>
                </div>
              </a>
              <a class="dropdown-item" id="btn-link" href="javascript:void(0)" aria-label="외부 콘텐츠" title="외부 콘텐츠">
                <span class="icon-wrapper">
                  <i class="fas fa-link"></i>
                </span>
                <div class="media-body">
                  <b>외부 콘텐츠</b>
                  <small>웹 페이지 링크, 사진, 동영상, 오디오 등</small>
                </div>
              </a>
              <a class="dropdown-item" id="btn-file" href="javascript:void(0)" aria-label="파일" title="파일">
                <span class="icon-wrapper">
                  <i class="far fa-folder"></i>
                </span>
                <div class="media-body">
                  <b>파일</b>
                  <small>내려받기 용도의 파일 첨부</small>
                </div>
              </a>
              <a class="dropdown-item" id="btn-code" href="javascript:void(0)" aria-label="코드" title="코드">
                <span class="icon-wrapper">
                  <i class="fas fa-laptop-code"></i>
                </span>
                <div class="media-body">
                  <b>코드</b>
                  <small>개발자를 위한 코드 에디터</small>
                </div>
              </a>
            </div>
          </div>
          <a class="btn btn-icon" id="btn-undo" href="javascript:void(0);" aria-label="실행 취소" title="실행 취소">
            <i class="fas fa-undo"></i>
          </a>
          <a class="btn btn-icon" id="btn-redo" href="javascript:void(0);" aria-label="재실행" title="재실행">
            <i class="fas fa-redo"></i>
          </a>
        </div>
        <div class="btn-group-right">
          <div class="character-counter" id="character-counter" data-toggle="tooltip" data-placement="left" title="" data-original-title="공백을 포함한 글자 수입니다.">
            <span id="character-count">0</span> 자                        </div>
          <a class="btn font-weight-semibold" id="save-draft" href="javascript:void(0)">
            <div class="spin-wrap save-ing">
              <div class="spin"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
            <i class="mi text-primary save-complete"></i>
            <span class="save-text">저장</span>
          </a>
          <a class="btn-publish btn dropdown-toggle font-weight-semibold" id="btn-publish" href="javascript:void(0)">
            발행
          </a>
<!--          <div class="dropdown show" id="options">-->
          <div class="dropdown" id="options">
            <a class="btn btn-icon" id="options-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" aria-label="더보기">
              <i class="fas fa-ellipsis-h fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right options-menu">
<!--        <div class="dropdown-menu dropdown-menu-right options-menu show">-->
              <a class="dropdown-item" data-toggle="modal" data-target="#revision" href="javascript:void(0)">
                <span class="icon-wrapper icon-wrapper-sm">
                  <i class="fas fa-history"></i>
                </span>
                편집 이력
              </a>
              <a class="dropdown-item" id="btn-preview" href="" target="_blank">
                <span class="icon-wrapper icon-wrapper-sm">
                  <i class="far fa-eye"></i>
                </span>
                미리보기
              </a>
              <a class="dropdown-item btn-remove" href="javascript:void(0)" data-post-id="" data-success-url="https://studio.postype.com/zzang9sisterzzanga/posts/trash">
                <span class="icon-wrapper icon-wrapper-sm">
                  <i class="fas fa-trash"></i>
                </span>
                휴지통으로 이동
              </a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <span class="icon-wrapper icon-wrapper-sm">
                  <i class="far fa-save"></i>
                </span>
                <label class="switch-control switch-block media-body" id="auto-save-wrapper">
                  <span class="switch">
                    <input class="switch-input" id="auto-save" type="checkbox" checked="" value="1">
                    <span class="switch-indicator"></span>
                  </span>
                  <span class="switch-description">자동 저장</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- 서식 툴바 -->
    <div class="format-menu" id="format">
      <div class="format-group-1">
<!--        <button type="button" class="btn d-hide" id="btn-custom-format" data-toggle="modal" data-target="#default-style" aria-label="기본 스타일" title="기본 스타일">-->
<!--          <i class="fas fa-cog"></i>-->
<!--        </button>-->
<!--        <div class="divider d-hide"></div>-->
        <div class="dropdown d-hide format-font-family">
          <button type="button" class="btn dropdown-toggle editor-dropdown" id="btn-font-family" data-target="dropdown-font" aria-label="글꼴">
            <i class="fas fa-font"></i>
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="dropdown-menu dropdown-select" id="dropdown-font">
            <a class="dropdown-item font-noto-sans" href="javascript:" data-font-key="noto-sans" data-font-family="'Postype Sans-serif KR', sans-serif">고딕체</a>
            <a class="dropdown-item font-kopub-batang" href="javascript:" data-font-key="kopub-batang" data-font-family="'KoPub Batang', serif">KoPub바탕</a>
            <a class="dropdown-item font-nanum-myeongjo" href="javascript:" data-font-key="nanum-myeongjo" data-font-family="'Nanum Myeongjo', serif">나눔명조</a>
          </div>
        </div>
<!--        <div class="divider d-hide"></div>-->
        <button type="button" class="btn" id="btn-bold" aria-label="굵게" title="굵게">
          <i class="fas fa-bold"></i>
        </button>
        <button type="button" class="btn d-hide" id="btn-italic" aria-label="기울임" title="기울임">
          <i class="fas fa-italic"></i>
        </button>
        <button type="button" class="btn d-hide" id="btn-underline" aria-label="밑줄" title="밑줄">
          <i class="fas fa-underline"></i>
        </button>
        <button type="button" class="btn d-hide" id="btn-strikethrough" aria-label="취소선" title="취소선">
          <i class="fas fa-strikethrough"></i>
        </button>
        <button type="button" class="btn" id="btn-inline-link" aria-label="링크" title="링크">
          <i class="fas fa-link"></i>
        </button>
        <div class="dropdown d-hide">
          <button type="button" class="btn editor-dropdown" id="btn-text-color" data-target="dropdown-text-color" aria-label="글자 색상" title="글자 색상">
            <span class="color-indicator" style="background-color: rgb(0, 0, 0);"></span>
          </button>
          <div class="dropdown-menu" id="dropdown-text-color">
            <div class="d-flex">
              <a href="javascript:" style="background-color:#000000" data-color="#000000" class="colorchip black active" title="검은색"></a>
              <a href="javascript:" style="background-color:#303030" data-color="#303030" class="colorchip dark-grey-3" title="짙은 회색 3"></a>
              <a href="javascript:" style="background-color:#505050" data-color="#505050" class="colorchip dark-grey-2" title="짙은 회색 2"></a>
              <a href="javascript:" style="background-color:#707070" data-color="#707070" class="colorchip dark-grey-1" title="짙은 회색 1"></a>
              <a href="javascript:" style="background-color:#909090" data-color="#909090" class="colorchip grey" title="회색"></a>
              <a href="javascript:" style="background-color:#c0c0c0" data-color="#c0c0c0" class="colorchip light-grey-1" title="밝은 회색 1"></a>
              <a href="javascript:" style="background-color:#f0f0f0" data-color="#f0f0f0" class="colorchip light-grey-2" title="밝은 회색 2"></a>
              <a href="javascript:" style="background-color:#ffffff" data-color="#ffffff" class="colorchip white" title="흰색"></a>
            </div>
            <div class="d-flex">
              <a href="javascript:" style="background-color:#D50000" data-color="#D50000" class="colorchip red" title="빨간색"></a>
              <a href="javascript:" style="background-color:#FF5722" data-color="#FF5722" class="colorchip deep-orange" title="짙은 주황색"></a>
              <a href="javascript:" style="background-color:#FF9800" data-color="#FF9800" class="colorchip orange" title="주황색"></a>
              <a href="javascript:" style="background-color:#FFC107" data-color="#FFC107" class="colorchip amber" title="호박색"></a>
              <a href="javascript:" style="background-color:#FFEB3B" data-color="#FFEB3B" class="colorchip yellow" title="노란색"></a>
              <a href="javascript:" style="background-color:#CDDC39" data-color="#CDDC39" class="colorchip lime" title="라임색"></a>
              <a href="javascript:" style="background-color:#8BC34A" data-color="#8BC34A" class="colorchip light-green" title="밝은 녹색"></a>
              <a href="javascript:" style="background-color:#4CAF50" data-color="#4CAF50" class="colorchip green" title="녹색"></a>
            </div>
            <div class="d-flex flex-row-reverse">
              <a href="javascript:" style="background-color:#009688" data-color="#009688" class="colorchip teal" title="청록색"></a>
              <a href="javascript:" style="background-color:#00BCD4" data-color="#00BCD4" class="colorchip cyan" title="맑은 파란색"></a>
              <a href="javascript:" style="background-color:#03A9F4" data-color="#03A9F4" class="colorchip light-blue" title="밝은 파란색"></a>
              <a href="javascript:" style="background-color:#2962FF" data-color="#2962FF" class="colorchip blue" title="파란색"></a>
              <a href="javascript:" style="background-color:#3F51B5" data-color="#3F51B5" class="colorchip indigo" title="남색"></a>
              <a href="javascript:" style="background-color:#673AB7" data-color="#673AB7" class="colorchip deep-purple" title="짙은 자주색"></a>
              <a href="javascript:" style="background-color:#9C27B0" data-color="#9C27B0" class="colorchip purple" title="자주색"></a>
              <a href="javascript:" style="background-color:#E91E63" data-color="#E91E63" class="colorchip pink" title="분홍색"></a>
            </div>
            <div class="d-flex">
              <a href="javascript:" style="background-color:#795548" data-color="#795548" class="colorchip brown" title="갈색"></a>
              <a href="javascript:" style="background-color:#607D8B" data-color="#607D8B" class="colorchip blue-grey" title="청회색"></a>
              <button type="button" class="btn btn-secondary btn-reset-color" data-color="REMOVE" title="초기화">
                <i class="fas fa-tint-slash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="format-group-2">
        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle editor-dropdown" id="btn-heading" data-target="dropdown-heading" aria-label="제목" title="제목">
            <i class="fas fa-heading"></i>
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="dropdown-menu dropdown-select" id="dropdown-heading">
            <a class="dropdown-item" href="javascript:" data-format="H3"><div class="h3">제목 1</div></a>
            <a class="dropdown-item" href="javascript:" data-format="H4"><div class="h4">제목 2</div></a>
            <a class="dropdown-item" href="javascript:" data-format="H5"><div class="h5">제목 3</div></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:" data-format="N">
              서식 지우기                </a>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle editor-dropdown" id="btn-quote" data-target="dropdown-quote" aria-label="인용" title="인용">
            <i class="fas fa-quote-left fa-sm"></i>
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="dropdown-menu dropdown-select" id="dropdown-quote">
            <a class="dropdown-item" href="javascript:" data-format="style1"><div class="q1">인용</div></a>
            <a class="dropdown-item" href="javascript:" data-format="style4"><div class="q4">인용</div></a>
            <a class="dropdown-item" href="javascript:" data-format="style2"><div class="q2">인용</div></a>
            <a class="dropdown-item" href="javascript:" data-format="style3"><div class="q3">인용</div></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:" data-format="cancel">
              서식 지우기                </a>
          </div>
        </div>
        <button type="button" class="btn" id="btn-list-bulleted" aria-label="점 목록" title="점 목록">
          <i class="fas fa-list-ul"></i>
        </button>
        <button type="button" class="btn" id="btn-list-numbered" aria-label="숫자 목록" title="숫자 목록">
          <i class="fas fa-list-ol"></i>
        </button>
        <div class="dropdown">
          <button type="button" class="btn editor-dropdown" id="btn-hr" data-target="dropdown-hr" aria-label="가로줄" title="가로줄">
            <i class="fas fa-minus"></i>
          </button>
          <div class="dropdown-menu dropdown-select" id="dropdown-hr">
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-solid-short">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-solid-short-bold">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-dot-short">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-zigzag-short">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-striped">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-dot">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-zigzag">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-solid">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-solid-bold">
            </a>
            <a class="dropdown-item btn-insert-hr" href="#">
              <hr class="hr hr-dashed">
            </a>
          </div>
        </div>
        <div class="divider d-hide"></div>
        <div class="dropdown d-hide">
          <button type="button" class="btn dropdown-toggle editor-dropdown" id="btn-align" data-target="dropdown-align" aria-label="글 정렬" title="글 정렬">
            <i class="fas fa-align-left" style=""></i>
            <i class="fas fa-align-center" style="display:none;"></i>
            <i class="fas fa-align-right" style="display:none;"></i>
            <i class="fas fa-align-justify" style="display:none;"></i>
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="dropdown-menu dropdown-select" id="dropdown-align">
            <a class="dropdown-item" href="javascript:" data-align="left">
              <span class="icon-wrapper">
                <i class="fas fa-align-left mr-0"></i>
              </span>
              왼쪽 정렬                </a>
            <a class="dropdown-item" href="javascript:" data-align="center">
              <span class="icon-wrapper">
                <i class="fas fa-align-center mr-0"></i>
              </span>
              가운데 정렬                </a>
            <a class="dropdown-item" href="javascript:" data-align="right">
              <span class="icon-wrapper">
                <i class="fas fa-align-right mr-0"></i>
              </span>
              오른쪽 정렬                </a>
            <a class="dropdown-item" href="javascript:" data-align="justify">
              <span class="icon-wrapper">
                <i class="fas fa-align-justify mr-0"></i>
              </span>
              양쪽 맞춤                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content slide-left">
    <form action="https://www.postype.com/api/post/save" method="post" id="post-save-form">
      <input type="hidden" name="characters_limit" value="100000">
      <input type="hidden" name="post_id" value="">
      <input type="hidden" name="content" value="">
      <input type="hidden" name="blog_id" value="1607714">
      <input type="hidden" name="auto_save" value="1">
      <input type="hidden" name="default_font" value="font-sans-serif">
      <input type="hidden" name="default_align" value="text-left">
      <input type="hidden" name="use_indent" value="">
      <input type="hidden" name="use_p_margin" value="1">
      <input type="hidden" name="type" value="normal">
      <input type="hidden" name="video-file-id" value="">
      <input type="hidden" name="video-thumbnail-file-id" value="">
      <article class="post" style="padding-bottom: 0px;">
        <div class="container">
          <div class="title-wrap">
            <div class="inner">
              <label for="post-title" class="sr-only">포스트 제목</label>
              <textarea id="post-title" name="title" rows="1" maxlength="100" class="post-title autosize" placeholder="제목을 수정하세요." style="overflow: hidden; overflow-wrap: break-word; height: 40px;"></textarea>
              <label for="post-sub-title" class="sr-only">포스트 부제목</label>
              <textarea id="post-sub-title" name="sub_title" rows="1" maxlength="100" class="post-subtitle autosize" placeholder="부제목을 수정하세요." style="overflow: hidden; overflow-wrap: break-word; height: 24px;"></textarea>
            </div>
          </div>
          <div id="edit" class="post-content normal fr-box fr-ltr fr-basic font-sans-serif text-left visible free" role="application">
            <div class="fr-wrapper show-placeholder" dir="ltr">
              <div class="fr-element fr-view" dir="ltr" contenteditable="true" aria-disabled="false" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" role="textbox" aria-multiline="true">
                <p>
                  <br>
                </p>
              </div>
              <span class="fr-placeholder" style="font-size: 16px; line-height: 25.6px; margin-top: 0px; padding-top: 0px; padding-left: 0px; margin-left: 0px; padding-right: 0px; margin-right: 0px; text-align: left;">
                내용을 수정하세요.
              </span>
            </div>
          </div>
        </div>
      </article>
    </form>
  </div>
</body>
</html>